@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="filterSql" name="过滤SQL" hidden="id" hiddenValue="${item.id}" value="${item.filterSql}" underline="true"/>
                </div>

                <div class="col-sm-6" readonly>

                    <#input id="depict" name="SQL描述" value="${item.depict}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="layer-btn-w">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="DataSqlFilterInfoDlg.editSubmit()"/>
                    <#buttonGray btnCss="default" name="取消" id="cancel" icon="fa-eraser" clickFun="DataSqlFilterInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/dataSqlFilter/dataSqlFilter_info.js"></script>
@}
